@page
@model CapenexisLearners22.Pages.LevelFiveLearners.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LevelFiveLearner</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LevelFiveLearner.SurName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LevelFiveLearner.SurName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LevelFiveLearner.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LevelFiveLearner.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LevelFiveLearner.NationalIdentityNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LevelFiveLearner.NationalIdentityNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LevelFiveLearner.Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LevelFiveLearner.Course)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LevelFiveLearner.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LevelFiveLearner.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.LevelFiveLearner?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
