@page
@model CapenexisLearners22.Pages.Facilitators.IndexModel

@{
    ViewData["Title"] = "Capenexis Facilitators";
}

<h1>Capenexis Facilitators</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Facilitator[0].SurName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facilitator[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facilitator[0].NationalIdentityNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facilitator[0].NumberOfLearners)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Facilitator) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SurName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NationalIdentityNumber)
            </td>
                  <td>
                    @Html.DisplayFor(modelItem => item.NumberOfLearners)
                </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
